body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Main_Layout_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:2px;
    width:106px;
    height:49px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:55px;
}

.u1 {
    position:absolute;
    left:2px;
    top:16px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:134px;
    top:15px;
    width:181px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Main_Layout_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:61px;
    width:1050px;
    height:35px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:41px;
}

.u4 {
    position:absolute;
    left:2px;
    top:10px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:120px;
    top:66px;
    width:100px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:230px;
    top:66px;
    width:100px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:340px;
    top:66px;
    width:100px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:450px;
    top:66px;
    width:100px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:560px;
    top:66px;
    width:100px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:824px;
    top:26px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_normal {
    background-image: url('../Main_Layout_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:1014px;
    top:26px;
    width:37px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:964px;
    top:0px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u19_container {
    position:absolute;
    left:10px;
    top:66px;
    width:100px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../My_Expeditions_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:7px;
    top:155px;
    width:180px;
    height:230px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:236px;
}

.u24 {
    position:absolute;
    left:2px;
    top:107px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:12px;
    top:129px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_selected {
    background-image: url('../My_Expeditions_files/u28_selected.png');
}

.u28_normal {
    background-image: url('../My_Expeditions_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:22px;
    top:0px;
    width:33px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:26px;
}

.u31 {
    position:absolute;
    left:3px;
    top:2px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u33_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:22px;
    top:0px;
    width:121px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u34 {
    position:absolute;
    left:3px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u36_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:22px;
    top:0px;
    width:114px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u37 {
    position:absolute;
    left:3px;
    top:2px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u39_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:22px;
    top:0px;
    width:100px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u40 {
    position:absolute;
    left:3px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u42_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u42_container {
    position:absolute;
    left:22px;
    top:0px;
    width:85px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:26px;
}

.u43 {
    position:absolute;
    left:3px;
    top:2px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u45_selected {
    background-image: url('../My_Expeditions_files/u28_selected.png');
}

.u45_normal {
    background-image: url('../My_Expeditions_files/u28_normal.png');
}

.u45_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u46 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:22px;
    top:0px;
    width:97px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u48 {
    position:absolute;
    left:3px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u50_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u50_container {
    position:absolute;
    left:22px;
    top:0px;
    width:121px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u51 {
    position:absolute;
    left:3px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u53_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:114px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:2px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:100px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u59_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:22px;
    top:0px;
    width:85px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:26px;
}

.u60 {
    position:absolute;
    left:3px;
    top:2px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

#u61 {
    position:absolute;
    left:197px;
    top:155px;
    width:858px;
    height:722px
}

.u62_normal {
    background-image: url('../My_Expeditions_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:0px;
    width:163px;
    height:23px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:29px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../My_Expeditions_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:163px;
    top:0px;
    width:690px;
    height:23px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:29px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../My_Expeditions_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:23px;
    width:163px;
    height:42px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:48px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../My_Expeditions_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:163px;
    top:23px;
    width:690px;
    height:42px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:48px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../My_Expeditions_files/u62_normal.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:65px;
    width:163px;
    height:23px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:29px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../My_Expeditions_files/u64_normal.png');
}

.u72_container {
    position:absolute;
    left:163px;
    top:65px;
    width:690px;
    height:23px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:29px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../My_Expeditions_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:88px;
    width:163px;
    height:22px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:28px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../My_Expeditions_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:163px;
    top:88px;
    width:690px;
    height:22px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:28px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../My_Expeditions_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:110px;
    width:163px;
    height:100px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:106px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../My_Expeditions_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:163px;
    top:110px;
    width:690px;
    height:100px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:106px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../My_Expeditions_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:210px;
    width:163px;
    height:36px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:42px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../My_Expeditions_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:163px;
    top:210px;
    width:690px;
    height:36px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:42px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../My_Expeditions_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:246px;
    width:163px;
    height:52px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:58px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../My_Expeditions_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:163px;
    top:246px;
    width:690px;
    height:52px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:58px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../My_Expeditions_files/u86_normal.png');
}

.u90_container {
    position:absolute;
    left:0px;
    top:298px;
    width:163px;
    height:52px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:58px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../My_Expeditions_files/u88_normal.png');
}

.u92_container {
    position:absolute;
    left:163px;
    top:298px;
    width:690px;
    height:52px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:58px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../My_Expeditions_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:350px;
    width:163px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../My_Expeditions_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:163px;
    top:350px;
    width:690px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:26px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../My_Expeditions_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:0px;
    top:370px;
    width:163px;
    height:68px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:74px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../My_Expeditions_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:163px;
    top:370px;
    width:690px;
    height:68px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:74px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../My_Expeditions_files/u98_normal.png');
}

.u102_container {
    position:absolute;
    left:0px;
    top:438px;
    width:163px;
    height:68px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:74px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../My_Expeditions_files/u100_normal.png');
}

.u104_container {
    position:absolute;
    left:163px;
    top:438px;
    width:690px;
    height:68px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:74px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../My_Expeditions_files/u98_normal.png');
}

.u106_container {
    position:absolute;
    left:0px;
    top:506px;
    width:163px;
    height:68px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:74px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../My_Expeditions_files/u100_normal.png');
}

.u108_container {
    position:absolute;
    left:163px;
    top:506px;
    width:690px;
    height:68px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:74px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../My_Expeditions_files/u98_normal.png');
}

.u110_container {
    position:absolute;
    left:0px;
    top:574px;
    width:163px;
    height:68px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:74px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../My_Expeditions_files/u100_normal.png');
}

.u112_container {
    position:absolute;
    left:163px;
    top:574px;
    width:690px;
    height:68px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:74px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../My_Expeditions_files/u94_normal.png');
}

.u114_container {
    position:absolute;
    left:0px;
    top:642px;
    width:163px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../My_Expeditions_files/u96_normal.png');
}

.u116_container {
    position:absolute;
    left:163px;
    top:642px;
    width:690px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../My_Expeditions_files/u94_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:662px;
    width:163px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../My_Expeditions_files/u96_normal.png');
}

.u120_container {
    position:absolute;
    left:163px;
    top:662px;
    width:690px;
    height:20px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:26px;
}

.u121 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../My_Expeditions_files/u122_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:682px;
    width:163px;
    height:35px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:41px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../My_Expeditions_files/u124_normal.png');
}

.u124_container {
    position:absolute;
    left:163px;
    top:682px;
    width:690px;
    height:35px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:41px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:361px;
    top:155px;
    width:205px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u127 {
    position:absolute;
    left:361px;
    top:220px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u128 {
    position:absolute;
    left:361px;
    top:401px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u129 {
    position:absolute;
    left:361px;
    top:453px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

