@using Mapper21.Business.Dto
@model SectionDto

@{
    ViewBag.SectionId = Model.Id;
}

<script src="~/Scripts/Mapper21.js"> </script>
<div class="form-horizontal">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-edit"></i>
            <h3 class="box-title">Big Ideas for Science</h3>
        </div>
        <div class="box-body">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div id="guidingQuestions">
                @Html.Partial("~/Views/Section/Partials/_ScienceBigIdea.cshtml", new GridDto {ParentId = Model.Id})
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
