body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Main_Layout_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:72px;
    width:1050px;
    height:31px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:8px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_mouseOver {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u2_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u2_container {
    position:absolute;
    left:7px;
    top:75px;
    width:100px;
    height:25px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u4_container {
    position:absolute;
    left:557px;
    top:75px;
    width:100px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u6_container {
    position:absolute;
    left:227px;
    top:75px;
    width:100px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Main_Layout_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:7px;
    top:0px;
    width:115px;
    height:62px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:68px;
}

.u9 {
    position:absolute;
    left:2px;
    top:23px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:132px;
    top:20px;
    width:165px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:826px;
    top:37px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_normal {
    background-image: url('../Main_Layout_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:1016px;
    top:37px;
    width:34px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:959px;
    top:0px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u15_container {
    position:absolute;
    left:117px;
    top:75px;
    width:100px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u17_container {
    position:absolute;
    left:447px;
    top:75px;
    width:100px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u19_container {
    position:absolute;
    left:337px;
    top:75px;
    width:100px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

