/ExpeditionMapper/bin

/ExpeditionMapper/obj

/ExpeditionMapper.v12.suo
/ExpeditionMapper.UI/ExpeditionMapper.UI.csproj.user

/ExpeditionMapper.UI/bin
/ExpeditionMapper.UI/obj

/ExpeditionMapper.DAL/bin
/ExpeditionMapper.DAL/obj

/ExpeditionMapper.BE/obj
/ExpeditionMapper.BE/bin

/*.user

/*.user

/*.suo

/*.suo

/Mapper21.BE/bin

/Mapper21.BE/obj

/Mapper21.DAL/bin

/Mapper21.DAL/obj

/Mapper21.Test/bin

/Mapper21.Test/obj

/Mapper21.UI/bin

/Mapper21.UI/obj
/Mapper21.UI/Content/UserFiles
/Mapper21.Site/bin
/Mapper21.Site/obj
/Mapper21.Domain/bin
/Mapper21.Domain/obj
/Mapper21.Data/bin
/Mapper21.Data/obj
/Mapper21.Business/obj
/Mapper21.Business/bin
/Mapper21.Data/obj
/Mapper21.Data/bin
/Mapper21.Domain/obj
/Mapper21.Domain/bin
/Mapper21.Site/obj
/Mapper21.Site/bin
