body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Main_Layout_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:2px;
    width:106px;
    height:49px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:55px;
}

.u1 {
    position:absolute;
    left:2px;
    top:16px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:134px;
    top:15px;
    width:181px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Main_Layout_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:61px;
    width:1050px;
    height:35px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:41px;
}

.u4 {
    position:absolute;
    left:2px;
    top:10px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:120px;
    top:66px;
    width:100px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:230px;
    top:66px;
    width:100px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:340px;
    top:66px;
    width:100px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:450px;
    top:66px;
    width:100px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:560px;
    top:66px;
    width:100px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:824px;
    top:26px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_normal {
    background-image: url('../Main_Layout_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:1014px;
    top:26px;
    width:37px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:964px;
    top:0px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Main_Layout_files/u5_normal.png');
}

.u19_container {
    position:absolute;
    left:10px;
    top:66px;
    width:100px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

