USE [Mapper21]
GO
/****** Object:  Table [dbo].[CommonCoreStandards]    Script Date: 8/9/2014 7:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonCoreStandards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[GradeLevelId] [nvarchar](128) NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Strand] [nvarchar](max) NULL,
	[SubCategory] [nvarchar](max) NULL,
	[Domain] [nvarchar](max) NULL,
	[ClusterStatement] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.CommonCoreStandards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CommonCoreStandards] ON 

INSERT [dbo].[CommonCoreStandards] ([Id], [Subject], [GradeLevelId], [Code], [Name], [Strand], [SubCategory], [Domain], [ClusterStatement], [Discriminator]) VALUES (1, N'CCSS.ELA-LITERACY', N'K', N'K.RF.1', N'Demonstrate understanding of the organization and basic features of print.', N'Reading: Foundational Skills', N'Print Concepts', NULL, NULL, N'EnglishCommonCoreStandards')
INSERT [dbo].[CommonCoreStandards] ([Id], [Subject], [GradeLevelId], [Code], [Name], [Strand], [SubCategory], [Domain], [ClusterStatement], [Discriminator]) VALUES (2, N'CCSS.ELA-LITERACY', N'K', N'K.RF.1a', N' Follow words from left to right, top to bottom, and page by page.', N'Reading: Foundational Skills', N'Print Concepts', NULL, NULL, N'EnglishCommonCoreStandards')
INSERT [dbo].[CommonCoreStandards] ([Id], [Subject], [GradeLevelId], [Code], [Name], [Strand], [SubCategory], [Domain], [ClusterStatement], [Discriminator]) VALUES (3, N'CCSS.ELA-LITERACY', N'K', N'K.RF.1b', N'Recognize that spoken words are represented in written language by specific sequences of letters.', N'Reading: Foundational Skills', N'Print Concepts', NULL, NULL, N'EnglishCommonCoreStandards')
GO
SET IDENTITY_INSERT [dbo].[CommonCoreStandards] OFF
ALTER TABLE [dbo].[CommonCoreStandards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommonCoreStandards_dbo.GradeLevels_GradeLevelId] FOREIGN KEY([GradeLevelId])
REFERENCES [dbo].[GradeLevels] ([Id])
GO
ALTER TABLE [dbo].[CommonCoreStandards] CHECK CONSTRAINT [FK_dbo.CommonCoreStandards_dbo.GradeLevels_GradeLevelId]
GO
