@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="#">My Curriculum</a></li>
            <li class="active"><a href="#">Second Grade</a></li>
        </ul>
        <h4>2013-2014 Semester</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide">
            <p><strong>First Six Week</strong></p>
            <p>Description</p>
        </a>
    </div>
    <div class="col-md-3">
        <a href="/Expedition"class="btn btn-primary btn-wide">
            <p><strong>Fall Expedition</strong></p>
            <p>Description</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide">
            <p><strong>Winter Semester</strong></p>
            <p>Description</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide">
            <p><strong>Spring Expedition</strong></p>
            <p>Description</p>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
        <h4>Non-Expedition Subject Areas</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-default btn-wide">
            <p>Art</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide">
            <p>Foreign Languages</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide">
            <p>Language Arts</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide">
            <p>Mathematics</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <button class="btn btn-default btn-wide">
            <p>Media</p>
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default btn-wide">
            <p>Music</p>
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default btn-wide">
            <p>Physical Education</p>
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default btn-wide">
            <p>Science</p>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <button class="btn btn-default btn-wide">
            <p>Social Skills</p>
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default btn-wide">
            <p>Social Studies</p>
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default btn-wide">
            <p>Technology</p>
        </button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-default btn-wide">
            <p>Writing</p>
        </button>
    </div>
</div>
