body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Main_Layout_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:72px;
    width:1050px;
    height:31px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:37px;
}

.u1 {
    position:absolute;
    left:2px;
    top:8px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_mouseOver {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u2_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u2_container {
    position:absolute;
    left:7px;
    top:75px;
    width:100px;
    height:25px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u4_container {
    position:absolute;
    left:557px;
    top:75px;
    width:100px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u6_container {
    position:absolute;
    left:227px;
    top:75px;
    width:100px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Main_Layout_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:7px;
    top:0px;
    width:115px;
    height:62px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:68px;
}

.u9 {
    position:absolute;
    left:2px;
    top:23px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:132px;
    top:20px;
    width:165px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:826px;
    top:37px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_normal {
    background-image: url('../Main_Layout_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:1016px;
    top:37px;
    width:34px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:959px;
    top:0px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u15_container {
    position:absolute;
    left:117px;
    top:75px;
    width:100px;
    height:25px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u17_container {
    position:absolute;
    left:447px;
    top:75px;
    width:100px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Main_Layout_files/u2_mouseOver.png');
}

.u19_container {
    position:absolute;
    left:337px;
    top:75px;
    width:100px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Expedition_Overview_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:7px;
    top:155px;
    width:180px;
    height:230px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:236px;
}

.u23 {
    position:absolute;
    left:2px;
    top:107px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:12px;
    top:129px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_selected {
    background-image: url('../Expedition_Overview_files/u27_selected.png');
}

.u27_normal {
    background-image: url('../Expedition_Overview_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u28 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u29_container {
    position:absolute;
    left:22px;
    top:0px;
    width:33px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:26px;
}

.u30 {
    position:absolute;
    left:3px;
    top:2px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:22px;
    top:0px;
    width:121px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u33 {
    position:absolute;
    left:3px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u35_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:22px;
    top:0px;
    width:114px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u36 {
    position:absolute;
    left:3px;
    top:2px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u38_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u38_container {
    position:absolute;
    left:22px;
    top:0px;
    width:100px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u39 {
    position:absolute;
    left:3px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:22px;
    top:0px;
    width:85px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:26px;
}

.u42 {
    position:absolute;
    left:3px;
    top:2px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u44_selected {
    background-image: url('../Expedition_Overview_files/u27_selected.png');
}

.u44_normal {
    background-image: url('../Expedition_Overview_files/u27_normal.png');
}

.u44_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u46_container {
    position:absolute;
    left:22px;
    top:0px;
    width:97px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u47 {
    position:absolute;
    left:3px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u49_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u49_container {
    position:absolute;
    left:22px;
    top:0px;
    width:121px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u50 {
    position:absolute;
    left:3px;
    top:2px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:22px;
    top:0px;
    width:114px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u53 {
    position:absolute;
    left:3px;
    top:2px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:22px;
    top:0px;
    width:100px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u56 {
    position:absolute;
    left:3px;
    top:2px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:22px;
    top:0px;
    width:85px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

#u60 {
    position:absolute;
    left:197px;
    top:155px;
    width:858px;
    height:722px
}

.u61_normal {
    background-image: url('../Expedition_Overview_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:163px;
    height:23px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:29px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Expedition_Overview_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:163px;
    top:0px;
    width:690px;
    height:23px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:29px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Expedition_Overview_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:23px;
    width:163px;
    height:42px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:48px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Expedition_Overview_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:163px;
    top:23px;
    width:690px;
    height:42px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:48px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Expedition_Overview_files/u61_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:65px;
    width:163px;
    height:23px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:29px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Expedition_Overview_files/u63_normal.png');
}

.u71_container {
    position:absolute;
    left:163px;
    top:65px;
    width:690px;
    height:23px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:29px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Expedition_Overview_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:88px;
    width:163px;
    height:22px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:28px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Expedition_Overview_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:163px;
    top:88px;
    width:690px;
    height:22px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:28px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Expedition_Overview_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:110px;
    width:163px;
    height:100px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:106px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Expedition_Overview_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:163px;
    top:110px;
    width:690px;
    height:100px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:106px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Expedition_Overview_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:210px;
    width:163px;
    height:36px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:42px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Expedition_Overview_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:163px;
    top:210px;
    width:690px;
    height:36px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:42px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Expedition_Overview_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:246px;
    width:163px;
    height:52px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:58px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Expedition_Overview_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:163px;
    top:246px;
    width:690px;
    height:52px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:58px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Expedition_Overview_files/u85_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:298px;
    width:163px;
    height:52px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:58px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Expedition_Overview_files/u87_normal.png');
}

.u91_container {
    position:absolute;
    left:163px;
    top:298px;
    width:690px;
    height:52px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:58px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Expedition_Overview_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:350px;
    width:163px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Expedition_Overview_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:163px;
    top:350px;
    width:690px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Expedition_Overview_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:370px;
    width:163px;
    height:68px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:74px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Expedition_Overview_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:163px;
    top:370px;
    width:690px;
    height:68px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:74px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Expedition_Overview_files/u97_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:438px;
    width:163px;
    height:68px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:74px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Expedition_Overview_files/u99_normal.png');
}

.u103_container {
    position:absolute;
    left:163px;
    top:438px;
    width:690px;
    height:68px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:74px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Expedition_Overview_files/u97_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:506px;
    width:163px;
    height:68px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:74px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Expedition_Overview_files/u99_normal.png');
}

.u107_container {
    position:absolute;
    left:163px;
    top:506px;
    width:690px;
    height:68px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:74px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Expedition_Overview_files/u97_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:574px;
    width:163px;
    height:68px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:74px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Expedition_Overview_files/u99_normal.png');
}

.u111_container {
    position:absolute;
    left:163px;
    top:574px;
    width:690px;
    height:68px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:74px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../Expedition_Overview_files/u93_normal.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:642px;
    width:163px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Expedition_Overview_files/u95_normal.png');
}

.u115_container {
    position:absolute;
    left:163px;
    top:642px;
    width:690px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:26px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../Expedition_Overview_files/u93_normal.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:662px;
    width:163px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Expedition_Overview_files/u95_normal.png');
}

.u119_container {
    position:absolute;
    left:163px;
    top:662px;
    width:690px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../Expedition_Overview_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:682px;
    width:163px;
    height:35px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:41px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../Expedition_Overview_files/u123_normal.png');
}

.u123_container {
    position:absolute;
    left:163px;
    top:682px;
    width:690px;
    height:35px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:41px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:361px;
    top:155px;
    width:205px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u126 {
    position:absolute;
    left:361px;
    top:220px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u127 {
    position:absolute;
    left:361px;
    top:401px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u128 {
    position:absolute;
    left:361px;
    top:453px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

