<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-file-text-o"></i>
        <h3 class="box-title">Attachments</h3>
    </div>
    <div class="box-body">
        <div id="example" class="k-content">
            <div class="demo-section">
                <ul id="treeview">
                    <li data-expanded="true">
                        <span class="k-sprite folder"></span>
                        Ancient Civilizations
                        <ul>
                            <li data-expanded="true">
                                <span class="k-sprite folder"></span>Week 1
                                <ul>
                                    <li><span class="k-sprite image"></span>greece.png</li>
                                    <li><span class="k-sprite image"></span>classroom.png</li>
                                    <li><span class="k-sprite image"></span>project.jpg</li>
                                </ul>
                            </li>
                            <li data-expanded="true">
                                <span class="k-sprite folder"></span>Week 2
                                <ul>
                                    <li data-expanded="true">
                                        <span class="k-sprite folder"></span>pdf
                                        <ul>
                                            <li><span class="k-sprite pdf"></span>lesson.pdf</li>
                                            <li><span class="k-sprite pdf"></span>resources.pdf</li>
                                        </ul>
                                    </li>
                                    <li><span class="k-sprite folder"></span>zip</li>
                                </ul>
                            </li>
                            <li><span class="k-sprite html"></span>overview.doc</li>
                            <li><span class="k-sprite html"></span>draftplans.doc</li>
                            <li><span class="k-sprite html"></span>schedule.doc</li>
                            <li><span class="k-sprite html"></span>portfolio.doc</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <script>
                $(document).ready(function () {
                    $("#treeview").kendoTreeView();
                });
            </script>

            <style scoped>
                .demo-section {
                    width: 200px;
                }

                #treeview .k-sprite {
                    background-image: url("/images/coloricons-sprite.png");
                }

                .rootfolder {
                    background-position: 0 0;
                }

                .folder {
                    background-position: 0 -16px;
                }

                .pdf {
                    background-position: 0 -32px;
                }

                .html {
                    background-position: 0 -48px;
                }

                .image {
                    background-position: 0 -64px;
                }
            </style>
        </div>
    </div>
</div>