<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-file-text-o"></i>
        <h3 class="box-title">Expedition Sections</h3>
    </div>
    <div class="box-body">
        <div class="callout callout-info">
            <p><a href="~/Section/Overview/FallExpedition">Overview</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Section/Habits/FallExpedition/">Habits</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Section/GuidingQuestions/FallExpedition">Guiding Questions</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Section/ScienceBigIdeas/FallExpedition">Big Ideas for Science</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Section/SocialStudiesBigIdeas/FallExpedition">Big Ideas for Social Studies</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Section/SubSection/FallExpedition">Case Studies</a></p>
        </div>
    </div>
</div>