<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-file-text-o"></i>
        <h3 class="box-title">First Six Weeks Sections</h3>
    </div>
    <div class="box-body">
        <div class="callout callout-info">
            <p><a href="~/Section/Overview/FirstSixWeeks/">Overview</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Section/Habits/FirstSixWeeks/">Habits</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Section/SubSection/@ViewBag.SectionId">Weeks</a></p>
        </div>
    </div>
</div>