<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-file-text-o"></i>
        <h3 class="box-title">Subject Area Sections</h3>
    </div>
    <div class="box-body">
        <div class="callout callout-info">
            <p><a href="~/Strand/Overview/@ViewBag.SectionId">Overview</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Strand/Habits/@ViewBag.SectionId">Habits</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Strand/GuidingQuestions/@ViewBag.SectionId">Guiding Questions</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Strand/ScienceBigIdeas/@ViewBag.SectionId">Big Ideas for Science</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Strand/SocialStudiesBigIdeas/@ViewBag.SectionId">Big Ideas for Social Studies</a></p>
        </div>
        <div class="callout callout-info">
            <p><a href="~/Strand/CaseStudy/@ViewBag.SectionId">Case Studies</a></p>
        </div>
    </div>
</div>