<ul class="sidebar-menu">
    <li class="active">
        <a href="index.html">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>First Six Weeks</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Section/Overview/1"><i class="fa fa-angle-double-right"></i> Overview</a></li>
            <li><a href="~/Section/GuidingQuestions/1"><i class="fa fa-angle-double-right"></i> Guiding Questions</a></li>
            <li><a href="~/Section/Habits/1"><i class="fa fa-angle-double-right"></i> Habits</a></li>
            <li><a href="~/Section/ScienceBigIdeas/1"><i class="fa fa-angle-double-right"></i> Science Big Ideas</a></li>
            <li><a href="~/Section/SocialStudiesBigIdeas/1"><i class="fa fa-angle-double-right"></i> Social Studies Big Ideas</a></li>
            <li><a href="~/Section/FinalProduct/1"><i class="fa fa-angle-double-right"></i> Final Product</a></li>
            <li><a href="~/Section/CaseStudy/1"><i class="fa fa-angle-double-right"></i> Case Studies</a></li>
        </ul>
    </li>
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-leaf"></i>
            <span>Fall Expedition</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Section/Overview/1"><i class="fa fa-angle-double-right"></i> Overview</a></li>
            <li><a href="~/Section/GuidingQuestions/1"><i class="fa fa-angle-double-right"></i> Guiding Questions</a></li>
            <li><a href="~/Section/Habits/1"><i class="fa fa-angle-double-right"></i> Habits</a></li>
            <li><a href="~/Section/ScienceBigIdeas/1"><i class="fa fa-angle-double-right"></i> Science Big Ideas</a></li>
            <li><a href="~/Section/SocialStudiesBigIdeas/1"><i class="fa fa-angle-double-right"></i> Social Studies Big Ideas</a></li>
            <li><a href="~/Section/FinalProduct/1"><i class="fa fa-angle-double-right"></i> Final Product</a></li>
            <li><a href="~/Section/CaseStudy/1"><i class="fa fa-angle-double-right"></i> Case Studies</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-cloud"></i>
            <span>Winter Term</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Section/Overview/1"><i class="fa fa-angle-double-right"></i> Overview</a></li>
            <li><a href="~/Section/GuidingQuestions/1"><i class="fa fa-angle-double-right"></i> Guiding Questions</a></li>
            <li><a href="~/Section/Habits/1"><i class="fa fa-angle-double-right"></i> Habits</a></li>
            <li><a href="~/Section/ScienceBigIdeas/1"><i class="fa fa-angle-double-right"></i> Science Big Ideas</a></li>
            <li><a href="~/Section/SocialStudiesBigIdeas/1"><i class="fa fa-angle-double-right"></i> Social Studies Big Ideas</a></li>
            <li><a href="~/Section/FinalProduct/1"><i class="fa fa-angle-double-right"></i> Final Product</a></li>
            <li><a href="~/Section/CaseStudy/1"><i class="fa fa-angle-double-right"></i> Case Studies</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-sun-o"></i>
            <span>Spring Expedition</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Section/Overview/1"><i class="fa fa-angle-double-right"></i> Overview</a></li>
            <li><a href="~/Section/GuidingQuestions/1"><i class="fa fa-angle-double-right"></i> Guiding Questions</a></li>
            <li><a href="~/Section/Habits/1"><i class="fa fa-angle-double-right"></i> Habits</a></li>
            <li><a href="~/Section/ScienceBigIdeas/1"><i class="fa fa-angle-double-right"></i> Science Big Ideas</a></li>
            <li><a href="~/Section/SocialStudiesBigIdeas/1"><i class="fa fa-angle-double-right"></i> Social Studies Big Ideas</a></li>
            <li><a href="~/Section/FinalProduct/1"><i class="fa fa-angle-double-right"></i> Final Product</a></li>
            <li><a href="~/Section/CaseStudy/1"><i class="fa fa-angle-double-right"></i> Case Studies</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Resources</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/examples/invoice.html"><i class="fa fa-angle-double-right"></i> Invoice</a></li>
            <li><a href="pages/examples/login.html"><i class="fa fa-angle-double-right"></i> Login</a></li>
            <li><a href="pages/examples/register.html"><i class="fa fa-angle-double-right"></i> Register</a></li>
            <li><a href="pages/examples/lockscreen.html"><i class="fa fa-angle-double-right"></i> Lockscreen</a></li>
            <li><a href="pages/examples/404.html"><i class="fa fa-angle-double-right"></i> 404 Error</a></li>
            <li><a href="pages/examples/500.html"><i class="fa fa-angle-double-right"></i> 500 Error</a></li>
            <li><a href="pages/examples/blank.html"><i class="fa fa-angle-double-right"></i> Blank Page</a></li>
        </ul>
    </li>
</ul>