<ul class="sidebar-menu">
    <li class="active">
        <a href="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-leaf"></i>
            <span>Semesters</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Navigation/FirstSixWeeks"><i class="fa fa-angle-double-right"></i> First Six Weeks</a></li>
            <li><a href="~/Navigation/FallExpedition"><i class="fa fa-angle-double-right"></i> Fall Expedition</a></li>
            <li><a href="~/Navigation/MiniMester"><i class="fa fa-angle-double-right"></i> Mini-Mester</a></li>
            <li><a href="~/Navigation/SpringExpedition"><i class="fa fa-angle-double-right"></i> Spring Semester</a></li>
        </ul>
    </li>
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-leaf"></i>
            <span>Subject Areas</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Navigation/SubjectArea/Art"><i class="fa fa-angle-double-right"></i> Art</a></li>
            <li><a href="~/Navigation/SubjectArea/ForeignLanguages"><i class="fa fa-angle-double-right"></i> Foreign Languages</a></li>
            <li><a href="~/Navigation/SubjectArea/LanguageArts"><i class="fa fa-angle-double-right"></i> Language Arts</a></li>
            <li><a href="~/Navigation/SubjectArea/Mathematics"><i class="fa fa-angle-double-right"></i> Mathematics</a></li>
            <li><a href="~/Navigation/SubjectArea/Media"><i class="fa fa-angle-double-right"></i> Media</a></li>
            <li><a href="~/Navigation/SubjectArea/Music"><i class="fa fa-angle-double-right"></i> Music</a></li>
            <li><a href="~/Navigation/SubjectArea/PhysicalEducation"><i class="fa fa-angle-double-right"></i> Physical Education</a></li>
            <li><a href="~/Navigation/SubjectArea/Science"><i class="fa fa-angle-double-right"></i> Science</a></li>
            <li><a href="~/Navigation/SubjectArea/SocialSkills"><i class="fa fa-angle-double-right"></i> Soclai Skills</a></li>
            <li><a href="~/Navigation/SubjectArea/SocialStudies"><i class="fa fa-angle-double-right"></i> Social Studies</a></li>
            <li><a href="~/Navigation/SubjectArea/Technology"><i class="fa fa-angle-double-right"></i> Technology</a></li>
            <li><a href="~/Navigation/SubjectArea/Writing"><i class="fa fa-angle-double-right"></i> Writing</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>Reports</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Reports Page</a></li>
        </ul>
    </li>
</ul>