@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <a href="/Section/Edit/3" class="btn btn-primary btn-wide">
            <p><strong>First Six Week</strong></p>
            <p>2013</p>
        </a>
    </div>
    <div class="col-md-3">
        <a href="/Section/Edit/1" class="btn btn-primary btn-wide">
            <p><strong>Fall Expedition</strong></p>
            <p>2013</p>
        </a>
    </div>
    <div class="col-md-3">
        <a href="/Section/Edit/4" class="btn btn-primary btn-wide">
            <p><strong>Winter Semester</strong></p>
            <p>2014</p>
        </a>
    </div>
    <div class="col-md-3">
        <a href="/Section/Edit/2" class="btn btn-primary btn-wide">
            <p><strong>Spring Expedition</strong></p>
            <p>2014</p>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
        <h4>Non-Expedition Subject Areas</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/5">
            <p>Art</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/6">
            <p>Foreign Languages</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/7">
            <p>Language Arts</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/8">
            <p>Mathematics</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/9">
            <p>Media</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/10">
            <p>Music</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/11">
            <p>Physical Education</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/12">
            <p>Science</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/13">
            <p>Social Skills</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/14">
            <p>Social Studies</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/15">
            <p>Technology</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-wide" href="/Section/Edit/16">
            <p>Writing</p>
        </a>
    </div>
</div>