@using ExpeditionMapper.UI.Models
@using FlexMapper.UI.Models
@model ExpeditionMapper.BE.Domain.Expedition

@{
    ViewBag.Title = "Guiding Questions";
    ViewBag.ExpeditionId = Model.Id;
}

<script src="~/Scripts/ExpeditionMapper.js"> </script>

<div class="form-horizontal">
    <div class="well">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div id="guidingQuestions">
            @Html.Partial("~/Views/Expedition/Partials/_SocialStudiesBigIdea.cshtml", new SocialStudiesBigIdeaViewModel { ExpeditionId = Model.Id })
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}