@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    FSW
                </h3>
                <p>
                    2013-2014
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-redo-outline"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    Fall <sup style="font-size: 20px">Expedition</sup>
                </h3>
                <p>
                    2013-2014
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    Winter Term
                </h3>
                <p>
                    2013-2014
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>
                    Spring <sup style="font-size: 20px">Expedition</sup>
                </h3>
                <p>
                    2013-2014
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-briefcase-outline"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
        <h4>Non-Expedition Subject Areas</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/5">
            <p>Art</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/6">
            <p>Foreign Languages</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/7">
            <p>Language Arts</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/8">
            <p>Mathematics</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/9">
            <p>Media</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/10">
            <p>Music</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/11">
            <p>Physical Education</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/12">
            <p>Science</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/13">
            <p>Social Skills</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/14">
            <p>Social Studies</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/15">
            <p>Technology</p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-wide" href="/Section/Edit/16">
            <p>Writing</p>
        </a>
    </div>
</div>