
@{
    ViewBag.Title = "Support";
}

<h4>Help and Support</h4>
<div class="row">
    <div class="col-md-8">
        <p>Curriculum Mapping is a procedure for reviewing the operational curriculum as it is entered into an electronic database at any education setting. It is based largely on the work of Heidi Hayes Jacobs in Mapping the Big Picture: Integrating Curriculum and Assessment K-12 (ASCD, 1997) and Getting Results with Curriculum Mapping (2004, ASCD). Schools are using curriculum templates that display key components of the curriculum: content, skills, assessments, and essential questions.</p>
        <p>Expedition Mapper is a web-based curriculum mapping application built on the principles of Expeditionary Learning.  For help or support in using this application, please contact <a href="#">helpdesk@ExpeditionMapper.com</a></p>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            <img src="/Content/flatui/images/icons/pencils.svg" alt="" width="260px" class="pull-right">
        </section>
    </div>
</div>