USE [master]
GO
/****** Object:  Database [Mapper21]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE DATABASE [Mapper21]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mapper21', FILENAME = N'C:\Users\21126\Mapper21.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Mapper21_log', FILENAME = N'C:\Users\21126\Mapper21_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mapper21].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mapper21]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommonCoreStandards]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonCoreStandards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[GradeLevelId] [nvarchar](128) NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Strand] [nvarchar](max) NULL,
	[SubCategory] [nvarchar](max) NULL,
	[Domain] [nvarchar](max) NULL,
	[ClusterStatement] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CommonCoreStandards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GradeLevels]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeLevels](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.GradeLevels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Habits]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Habits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScienceBigIdeas]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScienceBigIdeas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ScienceBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SectionGuidingQuestions]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionGuidingQuestions](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SectionGuidingQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SectionHabits]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionHabits](
	[Id] [uniqueidentifier] NOT NULL,
	[HabitId] [int] NOT NULL,
	[Context] [nvarchar](max) NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SectionHabits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SectionOtherBigIdeas]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionOtherBigIdeas](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Context] [nvarchar](max) NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SectionOtherBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sections]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [uniqueidentifier] NOT NULL,
	[Year] [int] NOT NULL,
	[GradeLevelId] [nvarchar](128) NULL,
	[SectionTypeId] [nvarchar](128) NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[KickOff] [nvarchar](max) NULL,
	[FinalProductName] [nvarchar](max) NULL,
	[FinalProductDescription] [nvarchar](max) NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedAt] [datetime] NULL,
	[SubmittedBy] [int] NULL,
	[SubmittedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Sections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SectionScienceBigIdeas]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionScienceBigIdeas](
	[Id] [uniqueidentifier] NOT NULL,
	[BigIdeaForScienceId] [int] NOT NULL,
	[Context] [nvarchar](max) NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SectionScienceBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SectionSocialStudiesBigIdeas]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionSocialStudiesBigIdeas](
	[Id] [uniqueidentifier] NOT NULL,
	[BigIdeaForSocialStudiesId] [int] NOT NULL,
	[Context] [nvarchar](max) NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SectionSocialStudiesBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SectionTypes]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionTypes](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SectionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SocialStudiesBigIdeas]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialStudiesBigIdeas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SocialStudiesBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionAssessments]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionAssessments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[SubSectionStaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionAssessments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionExperts]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionExperts](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionExperts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionFieldworks]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionFieldworks](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionFieldworks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionGuidingQuestions]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionGuidingQuestions](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionGuidingQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionHabits]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionHabits](
	[Id] [uniqueidentifier] NOT NULL,
	[HabitId] [int] NOT NULL,
	[Context] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionHabits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionLongTermTargets]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionLongTermTargets](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SubSectionStaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionLongTermTargets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionOtherBigIdeas]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionOtherBigIdeas](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Context] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionOtherBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSections]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSections](
	[Id] [uniqueidentifier] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[SubSectionTypeId] [nvarchar](128) NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedAt] [datetime] NULL,
	[SubmittedBy] [int] NULL,
	[SubmittedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.SubSections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionServiceLearnings]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionServiceLearnings](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionServiceLearnings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionShortTermTargets]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionShortTermTargets](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SubSectionStaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionShortTermTargets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionStandards]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionStandards](
	[Id] [uniqueidentifier] NOT NULL,
	[SubSectionStaId] [uniqueidentifier] NOT NULL,
	[CommonCoreStandardId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionStandards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionStas]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionStas](
	[Id] [uniqueidentifier] NOT NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionStas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubSectionTypes]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionTypes](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SubSectionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[SubSectionStaGrids]    Script Date: 8/25/2014 8:25:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[SubSectionStaGrids]
as

select
	newid() AS Id,
	a.id as SubSectionStaId,
	c.id as SubSectionId,
	substring((select (', ' + rtrim(c.subject) + (c.code)) from CommonCoreStandards c join SubSectionStandards s on c.Id = s.CommonCoreStandardId where s.subSectionStaid = a.id
		order by c.code for xml path('')),3,500) as Standards,
	substring((select (', ' + rtrim(s.name)) from SubSectionLongTermTargets s where s.subSectionStaid = a.id
		order by s.name for xml path('')),3,500) as LongTermTargets,
	substring((select (', ' + rtrim(s.name)) from SubSectionShortTermTargets s where s.subSectionStaid = a.id
		order by s.name for xml path('')),3,500) as ShortTermTargets,
	substring((select (', ' + rtrim(s.name)) from SubSectionAssessments s where s.subSectionStaid = a.id
		order by s.name for xml path('')),3,500) as Assessments
from SubSectionStas a
join SubSections c on c.id = a.SubSectionId


GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'997abb55-ae23-4d53-a52f-8fb0265597e0', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2d146780-3fc1-4246-9167-1db20eb5b385', N'Eigth Grade')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'76ddab11-f056-4ab9-9f86-0b3aafa726bd', N'Fifth Grade')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2295af1c-ef0f-4456-89f3-02628fde89e8', N'2d146780-3fc1-4246-9167-1db20eb5b385')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'31318509-d84c-4b4a-bc91-841049204608', N'2d146780-3fc1-4246-9167-1db20eb5b385')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'33297dff-fd2f-4ba4-a988-44bdbea8c79f', N'2d146780-3fc1-4246-9167-1db20eb5b385')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'011d7721-8a79-4472-a584-76ca8b69aa52', N'pindera@monarchcharter.org', 0, N'AHLXvDJYnVQIhoDfwUyCNYgJCO9TgJQ5bwPEmCXLbm7opz9bQEkZDd/fS3Nc9Ayk/g==', N'639e8ce7-cf75-46fd-b593-257a1cfd52f2', NULL, 0, 0, NULL, 0, 0, N'pindera@monarchcharter.org')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'07db820d-c62c-4ffc-8d34-5c86d1d4396a', N'Nobler@monarchcharter.org', 0, N'APgt302DXu1vf+/GwVGPpiOFeeFntIhWRrz8e9ilk8YlUq6u/jkFM6XTV31jNvqHfw==', N'82a3b6e4-b9a0-4d70-b4db-d3555c0000d9', NULL, 0, 0, NULL, 0, 0, N'Nobler@monarchcharter.org')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'12338a5c-db23-464b-b7bf-0df4e4ad2b97', N'peownl@monarchcharter.org', 0, N'ACa+GweovvwS8vjA9Xowmq5DNnjTlQSbYYA2Su431s2Gi80S6Izx/n8z0Wf6rAjhAw==', N'bd018a70-868e-4b4f-96a5-111140d82fc0', NULL, 0, 0, NULL, 0, 0, N'peownl@monarchcharter.org')
SET IDENTITY_INSERT [dbo].[CommonCoreStandards] ON 

INSERT [dbo].[CommonCoreStandards] ([Id], [Subject], [GradeLevelId], [Code], [Name], [Strand], [SubCategory], [Domain], [ClusterStatement]) VALUES (1, N'CCSS.ELA-LITERACY', N'K', N'K.RF.1', N'Demonstrate understanding of the organization and basic features of print.', N'Reading: Foundational Skills', N'Print Concepts', NULL, NULL)
INSERT [dbo].[CommonCoreStandards] ([Id], [Subject], [GradeLevelId], [Code], [Name], [Strand], [SubCategory], [Domain], [ClusterStatement]) VALUES (2, N'CCSS.ELA-LITERACY', N'K', N'K.RF.1a', N' Follow words from left to right, top to bottom, and page by page.', N'Reading: Foundational Skills', N'Print Concepts', NULL, NULL)
INSERT [dbo].[CommonCoreStandards] ([Id], [Subject], [GradeLevelId], [Code], [Name], [Strand], [SubCategory], [Domain], [ClusterStatement]) VALUES (3, N'CCSS.ELA-LITERACY', N'K', N'K.RF.1b', N'Recognize that spoken words are represented in written language by specific sequences of letters.', N'Reading: Foundational Skills', N'Print Concepts', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[CommonCoreStandards] OFF
INSERT [dbo].[GradeLevels] ([Id], [Name]) VALUES (N'1', N'First Grade')
INSERT [dbo].[GradeLevels] ([Id], [Name]) VALUES (N'10', N'Tenth Grade')
INSERT [dbo].[GradeLevels] ([Id], [Name]) VALUES (N'11', N'Eleventh Grade')
SET IDENTITY_INSERT [dbo].[Habits] ON 

INSERT [dbo].[Habits] ([Id], [Name]) VALUES (1, N'Quality')
INSERT [dbo].[Habits] ([Id], [Name]) VALUES (2, N'Responsibility')
INSERT [dbo].[Habits] ([Id], [Name]) VALUES (3, N'Collaboration')
SET IDENTITY_INSERT [dbo].[Habits] OFF
SET IDENTITY_INSERT [dbo].[ScienceBigIdeas] ON 

INSERT [dbo].[ScienceBigIdeas] ([Id], [Category], [Name]) VALUES (1, N'Systems', N'A system consists of related objects that form a whole.')
INSERT [dbo].[ScienceBigIdeas] ([Id], [Category], [Name]) VALUES (2, N'Systems', N'A change in one part of a system can change the whole system.')
INSERT [dbo].[ScienceBigIdeas] ([Id], [Category], [Name]) VALUES (3, N'Systems', N'Systems can be used to predict patterns.')
SET IDENTITY_INSERT [dbo].[ScienceBigIdeas] OFF
INSERT [dbo].[Sections] ([Id], [Year], [GradeLevelId], [SectionTypeId], [Name], [Description], [KickOff], [FinalProductName], [FinalProductDescription], [LastUpdatedBy], [LastUpdatedAt], [SubmittedBy], [SubmittedAt]) VALUES (N'837df9b0-557f-48fd-b0a9-02ddc5a0261e', 2014, N'5', N'SocialStudiesHumanities', N'', N'', N'', N'', N'', NULL, NULL, NULL, NULL)
INSERT [dbo].[Sections] ([Id], [Year], [GradeLevelId], [SectionTypeId], [Name], [Description], [KickOff], [FinalProductName], [FinalProductDescription], [LastUpdatedBy], [LastUpdatedAt], [SubmittedBy], [SubmittedAt]) VALUES (N'36542102-88bd-4c2a-99e0-03df181a1114', 2014, N'1', N'SpringExpedition', N'', N'', N'', N'', N'', NULL, NULL, NULL, NULL)
INSERT [dbo].[Sections] ([Id], [Year], [GradeLevelId], [SectionTypeId], [Name], [Description], [KickOff], [FinalProductName], [FinalProductDescription], [LastUpdatedBy], [LastUpdatedAt], [SubmittedBy], [SubmittedAt]) VALUES (N'fa4139c6-c357-4337-974f-043b3fadd080', 2014, N'5', N'MiniMester', N'', N'', N'', N'', N'', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[SectionTypes] ([Id], [Name]) VALUES (N'Art', N'Art')
INSERT [dbo].[SectionTypes] ([Id], [Name]) VALUES (N'ClubC', N'Club C')
INSERT [dbo].[SectionTypes] ([Id], [Name]) VALUES (N'Crew', N'Crew')
SET IDENTITY_INSERT [dbo].[SocialStudiesBigIdeas] ON 

INSERT [dbo].[SocialStudiesBigIdeas] ([Id], [Category], [Name]) VALUES (1, N'Geographic Relationships', N'Regions have diverse natural resources and geography.')
INSERT [dbo].[SocialStudiesBigIdeas] ([Id], [Category], [Name]) VALUES (2, N'Geographic Relationships', N'Humans have an effect on the places they live.')
INSERT [dbo].[SocialStudiesBigIdeas] ([Id], [Category], [Name]) VALUES (3, N'Geographic Relationships', N'Resources and the physical environment dictate what life is like in a particular region.')
SET IDENTITY_INSERT [dbo].[SocialStudiesBigIdeas] OFF
INSERT [dbo].[SubSectionTypes] ([Id], [Name]) VALUES (N'CaseStudy', N'Case Study')
INSERT [dbo].[SubSectionTypes] ([Id], [Name]) VALUES (N'Unit', N'Unit')
INSERT [dbo].[SubSectionTypes] ([Id], [Name]) VALUES (N'Week', N'Week')
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_GradeLevelId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_GradeLevelId] ON [dbo].[CommonCoreStandards]
(
	[GradeLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SectionId] ON [dbo].[SectionGuidingQuestions]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HabitId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_HabitId] ON [dbo].[SectionHabits]
(
	[HabitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SectionId] ON [dbo].[SectionHabits]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SectionId] ON [dbo].[SectionOtherBigIdeas]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_GradeLevelId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_GradeLevelId] ON [dbo].[Sections]
(
	[GradeLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SectionTypeId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SectionTypeId] ON [dbo].[Sections]
(
	[SectionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BigIdeaForScienceId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_BigIdeaForScienceId] ON [dbo].[SectionScienceBigIdeas]
(
	[BigIdeaForScienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SectionId] ON [dbo].[SectionScienceBigIdeas]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BigIdeaForSocialStudiesId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_BigIdeaForSocialStudiesId] ON [dbo].[SectionSocialStudiesBigIdeas]
(
	[BigIdeaForSocialStudiesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SectionId] ON [dbo].[SectionSocialStudiesBigIdeas]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionStaId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionStaId] ON [dbo].[SubSectionAssessments]
(
	[SubSectionStaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionId] ON [dbo].[SubSectionExperts]
(
	[SubSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionId] ON [dbo].[SubSectionFieldworks]
(
	[SubSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionId] ON [dbo].[SubSectionGuidingQuestions]
(
	[SubSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HabitId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_HabitId] ON [dbo].[SubSectionHabits]
(
	[HabitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionId] ON [dbo].[SubSectionHabits]
(
	[SubSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionStaId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionStaId] ON [dbo].[SubSectionLongTermTargets]
(
	[SubSectionStaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionId] ON [dbo].[SubSectionOtherBigIdeas]
(
	[SubSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SectionId] ON [dbo].[SubSections]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SubSectionTypeId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionTypeId] ON [dbo].[SubSections]
(
	[SubSectionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionId] ON [dbo].[SubSectionServiceLearnings]
(
	[SubSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionStaId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionStaId] ON [dbo].[SubSectionShortTermTargets]
(
	[SubSectionStaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommonCoreStandardId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_CommonCoreStandardId] ON [dbo].[SubSectionStandards]
(
	[CommonCoreStandardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionStaId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionStaId] ON [dbo].[SubSectionStandards]
(
	[SubSectionStaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSectionId]    Script Date: 8/25/2014 8:25:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubSectionId] ON [dbo].[SubSectionStas]
(
	[SubSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CommonCoreStandards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommonCoreStandards_dbo.GradeLevels_GradeLevelId] FOREIGN KEY([GradeLevelId])
REFERENCES [dbo].[GradeLevels] ([Id])
GO
ALTER TABLE [dbo].[CommonCoreStandards] CHECK CONSTRAINT [FK_dbo.CommonCoreStandards_dbo.GradeLevels_GradeLevelId]
GO
ALTER TABLE [dbo].[SectionGuidingQuestions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionGuidingQuestions_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionGuidingQuestions] CHECK CONSTRAINT [FK_dbo.SectionGuidingQuestions_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[SectionHabits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionHabits_dbo.Habits_HabitId] FOREIGN KEY([HabitId])
REFERENCES [dbo].[Habits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionHabits] CHECK CONSTRAINT [FK_dbo.SectionHabits_dbo.Habits_HabitId]
GO
ALTER TABLE [dbo].[SectionHabits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionHabits_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionHabits] CHECK CONSTRAINT [FK_dbo.SectionHabits_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[SectionOtherBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionOtherBigIdeas_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionOtherBigIdeas] CHECK CONSTRAINT [FK_dbo.SectionOtherBigIdeas_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sections_dbo.GradeLevels_GradeLevelId] FOREIGN KEY([GradeLevelId])
REFERENCES [dbo].[GradeLevels] ([Id])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_dbo.Sections_dbo.GradeLevels_GradeLevelId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sections_dbo.SectionTypes_SectionTypeId] FOREIGN KEY([SectionTypeId])
REFERENCES [dbo].[SectionTypes] ([Id])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_dbo.Sections_dbo.SectionTypes_SectionTypeId]
GO
ALTER TABLE [dbo].[SectionScienceBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionScienceBigIdeas_dbo.ScienceBigIdeas_BigIdeaForScienceId] FOREIGN KEY([BigIdeaForScienceId])
REFERENCES [dbo].[ScienceBigIdeas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionScienceBigIdeas] CHECK CONSTRAINT [FK_dbo.SectionScienceBigIdeas_dbo.ScienceBigIdeas_BigIdeaForScienceId]
GO
ALTER TABLE [dbo].[SectionScienceBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionScienceBigIdeas_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionScienceBigIdeas] CHECK CONSTRAINT [FK_dbo.SectionScienceBigIdeas_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[SectionSocialStudiesBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionSocialStudiesBigIdeas_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionSocialStudiesBigIdeas] CHECK CONSTRAINT [FK_dbo.SectionSocialStudiesBigIdeas_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[SectionSocialStudiesBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionSocialStudiesBigIdeas_dbo.SocialStudiesBigIdeas_BigIdeaForSocialStudiesId] FOREIGN KEY([BigIdeaForSocialStudiesId])
REFERENCES [dbo].[SocialStudiesBigIdeas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionSocialStudiesBigIdeas] CHECK CONSTRAINT [FK_dbo.SectionSocialStudiesBigIdeas_dbo.SocialStudiesBigIdeas_BigIdeaForSocialStudiesId]
GO
ALTER TABLE [dbo].[SubSectionAssessments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionAssessments_dbo.SubSectionStas_SubSectionStaId] FOREIGN KEY([SubSectionStaId])
REFERENCES [dbo].[SubSectionStas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionAssessments] CHECK CONSTRAINT [FK_dbo.SubSectionAssessments_dbo.SubSectionStas_SubSectionStaId]
GO
ALTER TABLE [dbo].[SubSectionExperts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionExperts_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionExperts] CHECK CONSTRAINT [FK_dbo.SubSectionExperts_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSectionFieldworks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionFieldworks_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionFieldworks] CHECK CONSTRAINT [FK_dbo.SubSectionFieldworks_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSectionGuidingQuestions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionGuidingQuestions_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionGuidingQuestions] CHECK CONSTRAINT [FK_dbo.SubSectionGuidingQuestions_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSectionHabits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionHabits_dbo.Habits_HabitId] FOREIGN KEY([HabitId])
REFERENCES [dbo].[Habits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionHabits] CHECK CONSTRAINT [FK_dbo.SubSectionHabits_dbo.Habits_HabitId]
GO
ALTER TABLE [dbo].[SubSectionHabits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionHabits_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionHabits] CHECK CONSTRAINT [FK_dbo.SubSectionHabits_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSectionLongTermTargets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionLongTermTargets_dbo.SubSectionStas_SubSectionStaId] FOREIGN KEY([SubSectionStaId])
REFERENCES [dbo].[SubSectionStas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionLongTermTargets] CHECK CONSTRAINT [FK_dbo.SubSectionLongTermTargets_dbo.SubSectionStas_SubSectionStaId]
GO
ALTER TABLE [dbo].[SubSectionOtherBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionOtherBigIdeas_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionOtherBigIdeas] CHECK CONSTRAINT [FK_dbo.SubSectionOtherBigIdeas_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSections_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSections] CHECK CONSTRAINT [FK_dbo.SubSections_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[SubSections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSections_dbo.SubSectionTypes_SubSectionTypeId] FOREIGN KEY([SubSectionTypeId])
REFERENCES [dbo].[SubSectionTypes] ([Id])
GO
ALTER TABLE [dbo].[SubSections] CHECK CONSTRAINT [FK_dbo.SubSections_dbo.SubSectionTypes_SubSectionTypeId]
GO
ALTER TABLE [dbo].[SubSectionServiceLearnings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionServiceLearnings_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionServiceLearnings] CHECK CONSTRAINT [FK_dbo.SubSectionServiceLearnings_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSectionShortTermTargets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionShortTermTargets_dbo.SubSectionStas_SubSectionStaId] FOREIGN KEY([SubSectionStaId])
REFERENCES [dbo].[SubSectionStas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionShortTermTargets] CHECK CONSTRAINT [FK_dbo.SubSectionShortTermTargets_dbo.SubSectionStas_SubSectionStaId]
GO
ALTER TABLE [dbo].[SubSectionStandards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionStandards_dbo.CommonCoreStandards_CommonCoreStandardId] FOREIGN KEY([CommonCoreStandardId])
REFERENCES [dbo].[CommonCoreStandards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionStandards] CHECK CONSTRAINT [FK_dbo.SubSectionStandards_dbo.CommonCoreStandards_CommonCoreStandardId]
GO
ALTER TABLE [dbo].[SubSectionStandards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionStandards_dbo.SubSectionStas_SubSectionStaId] FOREIGN KEY([SubSectionStaId])
REFERENCES [dbo].[SubSectionStas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionStandards] CHECK CONSTRAINT [FK_dbo.SubSectionStandards_dbo.SubSectionStas_SubSectionStaId]
GO
ALTER TABLE [dbo].[SubSectionStas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionStas_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionStas] CHECK CONSTRAINT [FK_dbo.SubSectionStas_dbo.SubSections_SubSectionId]
GO
USE [master]
GO
