@using ExpeditionMapper.UI.Models
<h4><label>Habits</label></h4>

@(Html.Kendo().Grid<ExpeditionHabitViewModel>
      ()
      .Name("grid2")
      .Columns(columns =>
      {
          columns.Bound(h => h.Habit).EditorTemplateName("ExpeditionHabitDropdownList");
          columns.Bound(h => h.Rationale);
          columns.Command(commands =>
          {
              commands.Edit(); // The "edit" command will edit and update data items
              commands.Destroy(); // The "destroy" command removes data items
          }).Title("Commands").Width(200);
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create(); // The "create" command adds new data items
          //toolbar.Save(); // The "save" command saves the changed data items
      })
      // .Editable(editable => editable.Mode(GridEditMode.InCell)) // Use in-cell editing mode
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .DataSource(dataSource =>
          dataSource.Ajax()
              // .Batch(true) // Enable batch updates
              .Model(model =>
              {
                  model.Id(g => g.Id); // Specify the property which is the unique identifier of the model
                  model.Field(g => g.Id).Editable(false); // Make the ProductID property not editable
                  model.Field(g => g.ExpeditionId).DefaultValue(@ViewBag.ExpeditionId);
              })
              .Create(create => create.Action("ExpeditionHabit_Create", "ExpeditionHabit")) // Action method invoked when the user saves a new data item
              .Read(read => read.Action("ExpeditionHabit_Read", "ExpeditionHabit", new {expeditionId = ViewBag.ExpeditionId})) // Action method invoked when the grid needs data
              .Update(update => update.Action("ExpeditionHabit_Update", "ExpeditionHabit")) // Action method invoked when the user saves an updated data item
              .Destroy(destroy => destroy.Action("ExpeditionHabit_Destroy", "ExpeditionHabit")) // Action method invoked when the user removes a data item
      )
      .Pageable()
      )