USE [mapper21_live]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CommonCoreStandards]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonCoreStandards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[GradeLevelId] [nvarchar](128) NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Strand] [nvarchar](max) NULL,
	[SubCategory] [nvarchar](max) NULL,
	[Domain] [nvarchar](max) NULL,
	[ClusterStatement] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CommonCoreStandards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[GradeLevels]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeLevels](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.GradeLevels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Habits]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Habits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[ScienceBigIdeas]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScienceBigIdeas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ScienceBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SectionGuidingQuestions]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionGuidingQuestions](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SectionGuidingQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SectionHabits]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionHabits](
	[Id] [uniqueidentifier] NOT NULL,
	[HabitId] [int] NOT NULL,
	[Context] [nvarchar](max) NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SectionHabits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SectionOtherBigIdeas]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionOtherBigIdeas](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Context] [nvarchar](max) NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SectionOtherBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Sections]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [uniqueidentifier] NOT NULL,
	[Year] [int] NOT NULL,
	[GradeLevelId] [nvarchar](128) NULL,
	[SectionTypeId] [nvarchar](128) NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[KickOff] [nvarchar](max) NULL,
	[FinalProductName] [nvarchar](max) NULL,
	[FinalProductDescription] [nvarchar](max) NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedAt] [datetime] NULL,
	[SubmittedBy] [int] NULL,
	[SubmittedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Sections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SectionScienceBigIdeas]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionScienceBigIdeas](
	[Id] [uniqueidentifier] NOT NULL,
	[BigIdeaForScienceId] [int] NOT NULL,
	[Context] [nvarchar](max) NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SectionScienceBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SectionSocialStudiesBigIdeas]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionSocialStudiesBigIdeas](
	[Id] [uniqueidentifier] NOT NULL,
	[BigIdeaForSocialStudiesId] [int] NOT NULL,
	[Context] [nvarchar](max) NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SectionSocialStudiesBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SectionTypes]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionTypes](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SectionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SocialStudiesBigIdeas]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialStudiesBigIdeas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SocialStudiesBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionAssessments]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionAssessments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[SubSectionStaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionAssessments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionExperts]    Script Date: 1/26/2015 10:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionExperts](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionExperts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionFieldworks]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionFieldworks](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionFieldworks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionGuidingQuestions]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionGuidingQuestions](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionGuidingQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionHabits]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionHabits](
	[Id] [uniqueidentifier] NOT NULL,
	[HabitId] [int] NOT NULL,
	[Context] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionHabits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionLongTermTargets]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionLongTermTargets](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SubSectionStaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionLongTermTargets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionOtherBigIdeas]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionOtherBigIdeas](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Context] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionOtherBigIdeas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSections]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSections](
	[Id] [uniqueidentifier] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[SubSectionTypeId] [nvarchar](128) NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedAt] [datetime] NULL,
	[SubmittedBy] [int] NULL,
	[SubmittedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.SubSections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionServiceLearnings]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionServiceLearnings](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionServiceLearnings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionShortTermTargets]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionShortTermTargets](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SubSectionStaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionShortTermTargets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionStandards]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionStandards](
	[Id] [uniqueidentifier] NOT NULL,
	[SubSectionStaId] [uniqueidentifier] NOT NULL,
	[CommonCoreStandardId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionStandards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionStas]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionStas](
	[Id] [uniqueidentifier] NOT NULL,
	[SubSectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.SubSectionStas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SubSectionTypes]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectionTypes](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SubSectionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  View [dbo].[SubSectionStaGrids]    Script Date: 1/26/2015 10:51:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[SubSectionStaGrids]
as

select
	newid() AS Id,
	a.id as SubSectionStaId,
	c.id as SubSectionId,
	substring((select (', ' + rtrim(c.subject) + (c.code)) from CommonCoreStandards c join SubSectionStandards s on c.Id = s.CommonCoreStandardId where s.subSectionStaid = a.id
		order by c.code for xml path('')),3,500) as Standards,
	substring((select (', ' + rtrim(s.name)) from SubSectionLongTermTargets s where s.subSectionStaid = a.id
		order by s.name for xml path('')),3,500) as LongTermTargets,
	substring((select (', ' + rtrim(s.name)) from SubSectionShortTermTargets s where s.subSectionStaid = a.id
		order by s.name for xml path('')),3,500) as ShortTermTargets,
	substring((select (', ' + rtrim(s.name)) from SubSectionAssessments s where s.subSectionStaid = a.id
		order by s.name for xml path('')),3,500) as Assessments
from SubSectionStas a
join SubSections c on c.id = a.SubSectionId

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2d146780-3fc1-4246-9167-1db20eb5b385', N'Eigth Grade')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3d30cec8-2d5c-493b-b8ca-2daaec7126cb', N'Kindergarten')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'5d6aa2bb-0530-44e9-936d-dd471e511e12', N'Seventh Grade')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'011d7721-8a79-4472-a584-76ca8b69aa52', N'76ddab11-f056-4ab9-9f86-0b3aafa726bd')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'07db820d-c62c-4ffc-8d34-5c86d1d4396a', N'997abb55-ae23-4d53-a52f-8fb0265597e0')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'07db820d-c62c-4ffc-8d34-5c86d1d4396a', N'b86b7199-d52d-446c-8a4d-58cdb323d3ff')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'011d7721-8a79-4472-a584-76ca8b69aa52', N'pindera@monarchcharter.org', 0, N'AHLXvDJYnVQIhoDfwUyCNYgJCO9TgJQ5bwPEmCXLbm7opz9bQEkZDd/fS3Nc9Ayk/g==', N'639e8ce7-cf75-46fd-b593-257a1cfd52f2', NULL, 0, 0, NULL, 0, 0, N'pindera@monarchcharter.org')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'07db820d-c62c-4ffc-8d34-5c86d1d4396a', N'Nobler@monarchcharter.org', 0, N'APgt302DXu1vf+/GwVGPpiOFeeFntIhWRrz8e9ilk8YlUq6u/jkFM6XTV31jNvqHfw==', N'82a3b6e4-b9a0-4d70-b4db-d3555c0000d9', NULL, 0, 0, NULL, 0, 0, N'Nobler@monarchcharter.org')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'12338a5c-db23-464b-b7bf-0df4e4ad2b97', N'peownl@monarchcharter.org', 0, N'ACa+GweovvwS8vjA9Xowmq5DNnjTlQSbYYA2Su431s2Gi80S6Izx/n8z0Wf6rAjhAw==', N'bd018a70-868e-4b4f-96a5-111140d82fc0', NULL, 0, 0, NULL, 0, 0, N'peownl@monarchcharter.org')
SET IDENTITY_INSERT [dbo].[CommonCoreStandards] ON 

INSERT [dbo].[CommonCoreStandards] ([Id], [Subject], [GradeLevelId], [Code], [Name], [Strand], [SubCategory], [Domain], [ClusterStatement]) VALUES (1, N'CCSS.ELA-LITERACY', N'K', N'K.RF.1', N'Demonstrate understanding of the organization and basic features of print.', N'Reading: Foundational Skills', N'Print Concepts', NULL, NULL)
INSERT [dbo].[CommonCoreStandards] ([Id], [Subject], [GradeLevelId], [Code], [Name], [Strand], [SubCategory], [Domain], [ClusterStatement]) VALUES (2, N'CCSS.ELA-LITERACY', N'K', N'K.RF.1a', N' Follow words from left to right, top to bottom, and page by page.', N'Reading: Foundational Skills', N'Print Concepts', NULL, NULL)
INSERT [dbo].[CommonCoreStandards] ([Id], [Subject], [GradeLevelId], [Code], [Name], [Strand], [SubCategory], [Domain], [ClusterStatement]) VALUES (3, N'CCSS.ELA-LITERACY', N'K', N'K.RF.1b', N'Recognize that spoken words are represented in written language by specific sequences of letters.', N'Reading: Foundational Skills', N'Print Concepts', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[CommonCoreStandards] OFF
INSERT [dbo].[GradeLevels] ([Id], [Name]) VALUES (N'1', N'First Grade')
INSERT [dbo].[GradeLevels] ([Id], [Name]) VALUES (N'10', N'Tenth Grade')
INSERT [dbo].[GradeLevels] ([Id], [Name]) VALUES (N'11', N'Eleventh Grade')
SET IDENTITY_INSERT [dbo].[Habits] ON 

INSERT [dbo].[Habits] ([Id], [Name]) VALUES (1, N'Quality')
INSERT [dbo].[Habits] ([Id], [Name]) VALUES (2, N'Responsibility')
INSERT [dbo].[Habits] ([Id], [Name]) VALUES (3, N'Collaboration')
SET IDENTITY_INSERT [dbo].[Habits] OFF
SET IDENTITY_INSERT [dbo].[ScienceBigIdeas] ON 

INSERT [dbo].[ScienceBigIdeas] ([Id], [Category], [Name]) VALUES (1, N'Systems', N'A system consists of related objects that form a whole.')
INSERT [dbo].[ScienceBigIdeas] ([Id], [Category], [Name]) VALUES (2, N'Systems', N'A change in one part of a system can change the whole system.')
INSERT [dbo].[ScienceBigIdeas] ([Id], [Category], [Name]) VALUES (3, N'Systems', N'Systems can be used to predict patterns.')
SET IDENTITY_INSERT [dbo].[ScienceBigIdeas] OFF
INSERT [dbo].[SectionGuidingQuestions] ([Id], [Name], [SectionId]) VALUES (N'96bc4267-3e9e-467a-991b-156716046903', N'"How does reading different texts about the same topic build our understanding?"', N'ce129db9-4950-47d9-ae5b-d4e48a8794bf')
INSERT [dbo].[SectionGuidingQuestions] ([Id], [Name], [SectionId]) VALUES (N'beedbcbb-4a55-484f-8995-20f0b4ddb467', N'How will you weather the storm?', N'f3fb354d-9f9f-44a9-a497-fc2add8bdfa8')
INSERT [dbo].[SectionGuidingQuestions] ([Id], [Name], [SectionId]) VALUES (N'65c3ae87-a629-472b-8930-2691135c9e34', N'Why do we make the choices we make?', N'40fa2d9b-1599-4bbe-a081-e057ad29cd31')
INSERT [dbo].[SectionHabits] ([Id], [HabitId], [Context], [SectionId]) VALUES (N'154cd914-9481-4e92-af80-101859940c8a', 3, N'Be willing to work with others', N'caec6d40-b10b-4fd5-a388-72b2bb806cff')
INSERT [dbo].[SectionHabits] ([Id], [HabitId], [Context], [SectionId]) VALUES (N'b9fe18ce-84a1-4965-a9e0-161f78793e94', 1, N'Setting a high standard for your progress in developing skills', N'e0c16abd-f115-4916-bd49-aa423f111d0a')
INSERT [dbo].[SectionHabits] ([Id], [HabitId], [Context], [SectionId]) VALUES (N'b2207481-a52f-459a-89a1-20444365c936', 2, N'Using the equipment appropirately', N'e0c16abd-f115-4916-bd49-aa423f111d0a')
INSERT [dbo].[SectionOtherBigIdeas] ([Id], [Name], [Context], [SectionId]) VALUES (N'49a88293-9592-45c9-8765-02b93fb02f40', N'Lens of plastic in a landfill.', NULL, N'40fa2d9b-1599-4bbe-a081-e057ad29cd31')
INSERT [dbo].[SectionOtherBigIdeas] ([Id], [Name], [Context], [SectionId]) VALUES (N'32e965ba-d850-451c-98ae-1114a546a5a7', N'Kickoff:  October 6th:  Students create a circle graph modeling significant civil war statistics.', NULL, N'7be45803-7ce4-4c3f-901f-24d6b50e0748')
INSERT [dbo].[Sections] ([Id], [Year], [GradeLevelId], [SectionTypeId], [Name], [Description], [KickOff], [FinalProductName], [FinalProductDescription], [LastUpdatedBy], [LastUpdatedAt], [SubmittedBy], [SubmittedAt]) VALUES (N'837df9b0-557f-48fd-b0a9-02ddc5a0261e', 2014, N'5', N'SocialStudiesHumanities', N'', N'', N'', N'', N'', NULL, NULL, NULL, NULL)
INSERT [dbo].[Sections] ([Id], [Year], [GradeLevelId], [SectionTypeId], [Name], [Description], [KickOff], [FinalProductName], [FinalProductDescription], [LastUpdatedBy], [LastUpdatedAt], [SubmittedBy], [SubmittedAt]) VALUES (N'36542102-88bd-4c2a-99e0-03df181a1114', 2014, N'1', N'SpringExpedition', N'', N'', N'', N'', N'', NULL, NULL, NULL, NULL)
INSERT [dbo].[Sections] ([Id], [Year], [GradeLevelId], [SectionTypeId], [Name], [Description], [KickOff], [FinalProductName], [FinalProductDescription], [LastUpdatedBy], [LastUpdatedAt], [SubmittedBy], [SubmittedAt]) VALUES (N'fa4139c6-c357-4337-974f-043b3fadd080', 2014, N'5', N'MiniMester', N'', N'', N'', N'', N'', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[SectionScienceBigIdeas] ([Id], [BigIdeaForScienceId], [Context], [SectionId]) VALUES (N'0fee2e91-3c62-401c-afc3-a2d9c6b699f2', 5, NULL, N'4c4fa2af-baee-4b51-92db-28c0c116dcc8')
INSERT [dbo].[SectionScienceBigIdeas] ([Id], [BigIdeaForScienceId], [Context], [SectionId]) VALUES (N'9124aac0-b17a-46f4-b2c8-ffbc55a3dfb2', 11, NULL, N'4c4fa2af-baee-4b51-92db-28c0c116dcc8')
INSERT [dbo].[SectionSocialStudiesBigIdeas] ([Id], [BigIdeaForSocialStudiesId], [Context], [SectionId]) VALUES (N'6ce243e6-1576-4c97-af54-158e14509062', 3, NULL, N'4c4fa2af-baee-4b51-92db-28c0c116dcc8')
INSERT [dbo].[SectionSocialStudiesBigIdeas] ([Id], [BigIdeaForSocialStudiesId], [Context], [SectionId]) VALUES (N'6d032002-652a-4466-bd2d-88402e724917', 2, NULL, N'4c4fa2af-baee-4b51-92db-28c0c116dcc8')
INSERT [dbo].[SectionSocialStudiesBigIdeas] ([Id], [BigIdeaForSocialStudiesId], [Context], [SectionId]) VALUES (N'cee94561-351b-48c7-9cb7-894bfe9ca359', 17, NULL, N'4c4fa2af-baee-4b51-92db-28c0c116dcc8')
INSERT [dbo].[SectionTypes] ([Id], [Name]) VALUES (N'Art', N'Art')
INSERT [dbo].[SectionTypes] ([Id], [Name]) VALUES (N'ClubC', N'Club C')
INSERT [dbo].[SectionTypes] ([Id], [Name]) VALUES (N'Crew', N'Crew')
SET IDENTITY_INSERT [dbo].[SocialStudiesBigIdeas] ON 

INSERT [dbo].[SocialStudiesBigIdeas] ([Id], [Category], [Name]) VALUES (1, N'Geographic Relationships', N'Regions have diverse natural resources and geography.')
INSERT [dbo].[SocialStudiesBigIdeas] ([Id], [Category], [Name]) VALUES (2, N'Geographic Relationships', N'Humans have an effect on the places they live.')
INSERT [dbo].[SocialStudiesBigIdeas] ([Id], [Category], [Name]) VALUES (3, N'Geographic Relationships', N'Resources and the physical environment dictate what life is like in a particular region.')
SET IDENTITY_INSERT [dbo].[SocialStudiesBigIdeas] OFF
INSERT [dbo].[SubSectionAssessments] ([Id], [Name], [Description], [SubSectionStaId]) VALUES (N'1e0dddcf-a1fa-4b33-897e-0ad4232a23aa', N'Liquid Amounts', N'Exit ticket asks students to identify the greatest liquid.', N'4390efde-d3c9-4031-9dea-14d54d07b7d0')
INSERT [dbo].[SubSectionAssessments] ([Id], [Name], [Description], [SubSectionStaId]) VALUES (N'102ba529-6bd1-42bd-bdfd-0d644dd59693', N'Summative - System', N'Organizer different parts of a system we learn about on fieldwork etc.', N'ca068956-f051-4a47-843b-8c189ae3190e')
INSERT [dbo].[SubSectionAssessments] ([Id], [Name], [Description], [SubSectionStaId]) VALUES (N'de1ae067-f5a9-4763-b4ad-19eb245772d7', N'Formative - Impact Landfills Have on the Environment', N'Millersville', N'530f3fcd-6247-43c8-aa9a-e8d546eaefd9')
INSERT [dbo].[SubSectionExperts] ([Id], [Name], [Description], [Notes], [SubSectionId]) VALUES (N'ed9560d6-2024-4d45-ac77-03700d78670c', N'Max ', NULL, NULL, N'dbd24059-3329-4dae-ba92-66b5114d1839')
INSERT [dbo].[SubSectionExperts] ([Id], [Name], [Description], [Notes], [SubSectionId]) VALUES (N'10d67b2f-1497-403e-822b-19b86082f636', N'Pop Art Expert', N'This artist draws pictures of oysters and connects them to the Oyster Recovery Projects. Students will discuss how art can also be a way to raise awareness.', NULL, N'2525e9a1-7066-4f8e-b1cd-66055a666fb2')
INSERT [dbo].[SubSectionExperts] ([Id], [Name], [Description], [Notes], [SubSectionId]) VALUES (N'af5d3a41-9fe0-496c-b5c2-1cec32e05d2e', N'Chad Jones', NULL, NULL, N'6ea75536-46df-425d-9694-5c45ed45bc06')
INSERT [dbo].[SubSectionFieldworks] ([Id], [Name], [Description], [Notes], [SubSectionId]) VALUES (N'b2d2a263-090a-4587-9f5d-096b3c625be3', N'Chesapeake Bay Foundation', N'Students go out onto the Inner Harbor and do various water testing to determine the health of the bay. ', NULL, N'2676e853-ea91-40df-b57d-cc79bd034928')
INSERT [dbo].[SubSectionFieldworks] ([Id], [Name], [Description], [Notes], [SubSectionId]) VALUES (N'06a1f97c-b9a4-420c-9294-0f37fdceba85', N'Arnold Water Treatment Plant', N'Students see how we get fresh water. They go over this in science. In humanities they contrast our fresh water resources with those of other countries. ', NULL, N'6fee2dd2-c70a-44d3-8247-49c1969c133c')
INSERT [dbo].[SubSectionFieldworks] ([Id], [Name], [Description], [Notes], [SubSectionId]) VALUES (N'16608fc8-76b6-4267-8414-2a3329623b2d', N'Stone Mill Bakery', N'Students will meet a German immigrant, Max, and learn about how he has made a life for himself here in America. Students will make the connections of running a bakery and being a successful member of a society. ', NULL, N'dbd24059-3329-4dae-ba92-66b5114d1839')
INSERT [dbo].[SubSectionGuidingQuestions] ([Id], [Name], [SubSectionId]) VALUES (N'4b0c0b60-4fd9-4b27-89b3-271b97c451d2', N'How can we create the most effective water filter by using the least amount of money?', N'd5dccb4a-c375-43b3-a731-81b7d2b98f62')
INSERT [dbo].[SubSectionGuidingQuestions] ([Id], [Name], [SubSectionId]) VALUES (N'a9becc74-5978-4dcb-97da-bc134596bb6e', N'What are characteristics of water? What are the ways we manage water?  Why are we running out of freshwater? How is the sustainabilty of water my responsibility? ', N'2676e853-ea91-40df-b57d-cc79bd034928')
INSERT [dbo].[SubSectionHabits] ([Id], [HabitId], [Context], [SubSectionId]) VALUES (N'b26b27e5-78b2-4424-b40c-0b21f32d225c', 1, N'Students will have to design a neat rough draft of their filter. They will also have to show the calculations of their work in order to "buy" certain materials for their filter. ', N'd5dccb4a-c375-43b3-a731-81b7d2b98f62')
INSERT [dbo].[SubSectionHabits] ([Id], [HabitId], [Context], [SubSectionId]) VALUES (N'c46b36f1-07db-44fc-b651-476b93923c2e', 2, N'Students will be responsible for constructing their own water filter and reporting appropriately. ', N'd5dccb4a-c375-43b3-a731-81b7d2b98f62')
INSERT [dbo].[SubSectionHabits] ([Id], [HabitId], [Context], [SubSectionId]) VALUES (N'fd62d2c4-2f6a-4e05-b4c1-61ea2e4a7a2e', 3, N'Students will work with a partner to show their rough draft design and build and test their water filter system. ', N'd5dccb4a-c375-43b3-a731-81b7d2b98f62')
INSERT [dbo].[SubSectionLongTermTargets] ([Id], [Name], [SubSectionStaId]) VALUES (N'd0303e20-5ba7-4ec8-aed6-00707ae74e67', N'Students can recreate a similar process of the water treatment facility.', N'6a427caa-a446-476b-93ec-bc276da3af0f')
INSERT [dbo].[SubSectionLongTermTargets] ([Id], [Name], [SubSectionStaId]) VALUES (N'628f7a9b-4d21-4c54-94b6-0922655c5c0f', N'How have the choices of human beings impacted the conditions of the Chesapeake Bay watershed?', N'7bd86f53-e23c-4c5d-b9d6-6264f5dfeabc')
INSERT [dbo].[SubSectionLongTermTargets] ([Id], [Name], [SubSectionStaId]) VALUES (N'7726f0b9-3201-4310-bc62-198aca2c6144', N'I can describe the properties of the states of matter. ', N'4390efde-d3c9-4031-9dea-14d54d07b7d0')
INSERT [dbo].[SubSectionOtherBigIdeas] ([Id], [Name], [Context], [SubSectionId]) VALUES (N'665a9984-5f59-4056-ba11-48512f36a3ac', N'Human acticvity affects water sustainabilty. Freshwater is critical resource that must be managed carefully. ', NULL, N'2676e853-ea91-40df-b57d-cc79bd034928')
INSERT [dbo].[SubSectionOtherBigIdeas] ([Id], [Name], [Context], [SubSectionId]) VALUES (N'8dfc6000-ddbe-4b35-8c63-9de7e6c4c8f0', N'The use of DECIMAL operation to add subtract and multiply money', NULL, N'd5dccb4a-c375-43b3-a731-81b7d2b98f62')
INSERT [dbo].[SubSectionOtherBigIdeas] ([Id], [Name], [Context], [SubSectionId]) VALUES (N'3028d303-8d73-487f-b27e-cad7fd7f7c20', N'When individuals act together they can transform the world around them', NULL, N'cdd7fb53-f872-40cb-b2d1-3d3a7a71f271')
INSERT [dbo].[SubSections] ([Id], [SectionId], [SubSectionTypeId], [Name], [Description], [LastUpdatedBy], [LastUpdatedAt], [SubmittedBy], [SubmittedAt]) VALUES (N'5c91c002-b531-4b1e-85aa-135f4a54f4f6', N'40fa2d9b-1599-4bbe-a081-e057ad29cd31', N'CaseStudy', N'Case Study 2: Different Communities', N'Waste Management in Other Communities', NULL, NULL, NULL, NULL)
INSERT [dbo].[SubSectionServiceLearnings] ([Id], [Name], [Description], [Notes], [SubSectionId]) VALUES (N'01a4fecd-57e5-4f32-bcae-8d510a8bf831', N'Food Drive ', NULL, NULL, N'a2d76875-3040-4f44-84f6-8110a81f3dba')
INSERT [dbo].[SubSectionServiceLearnings] ([Id], [Name], [Description], [Notes], [SubSectionId]) VALUES (N'fe0691fe-c5ba-4837-a516-cd789d9143ea', N'Lake Waterford', N'Cleaned up trash ', NULL, N'6ea75536-46df-425d-9694-5c45ed45bc06')
INSERT [dbo].[SubSectionShortTermTargets] ([Id], [Name], [SubSectionStaId]) VALUES (N'1930dd71-a5cf-4499-a9e9-00abd0fe545f', N'I can describe how consumers acquire goods and services.', N'076dd7cd-1b43-4b16-ad30-e6fd43ce3ba1')
INSERT [dbo].[SubSectionShortTermTargets] ([Id], [Name], [SubSectionStaId]) VALUES (N'33b22805-ad5d-4233-b48d-04bf49395c1f', N'I can explain the reasons Italian/Irish/German immigrants left their home country. ', N'7aecd763-2bfc-4083-9af5-2706d928cdcc')
INSERT [dbo].[SubSectionShortTermTargets] ([Id], [Name], [SubSectionStaId]) VALUES (N'48ca71dc-f852-4b4a-8344-0c728115ba8b', N'I can use feedback to improve my work.', N'4390efde-d3c9-4031-9dea-14d54d07b7d0')
GO
INSERT [dbo].[SubSectionStandards] ([Id], [SubSectionStaId], [CommonCoreStandardId]) VALUES (N'dc6d7787-2666-402b-8594-05f265fad09e', N'4c3f10f7-8304-40f1-ad74-aab6263026b3', 94)
INSERT [dbo].[SubSectionStandards] ([Id], [SubSectionStaId], [CommonCoreStandardId]) VALUES (N'b66d1d9c-1fb4-4013-bb5c-06017d739ddf', N'42e7d54b-7e95-4266-88c5-ee3108772ab9', 109)
INSERT [dbo].[SubSectionStandards] ([Id], [SubSectionStaId], [CommonCoreStandardId]) VALUES (N'f2b7bdf5-94f9-4681-a875-07041e5c0e4c', N'530f3fcd-6247-43c8-aa9a-e8d546eaefd9', 258)
INSERT [dbo].[SubSectionStas] ([Id], [SubSectionId]) VALUES (N'4390efde-d3c9-4031-9dea-14d54d07b7d0', N'e5c94dc1-3842-4635-916f-b5fd48bed561')
INSERT [dbo].[SubSectionStas] ([Id], [SubSectionId]) VALUES (N'7aecd763-2bfc-4083-9af5-2706d928cdcc', N'e7d9eaf9-7f1f-420c-bae8-145416864d49')
INSERT [dbo].[SubSectionStas] ([Id], [SubSectionId]) VALUES (N'8fd55f8a-a2ff-4b37-8148-2996b986b393', N'5c91c002-b531-4b1e-85aa-135f4a54f4f6')
INSERT [dbo].[SubSectionTypes] ([Id], [Name]) VALUES (N'CaseStudy', N'Case Study')
INSERT [dbo].[SubSectionTypes] ([Id], [Name]) VALUES (N'Unit', N'Unit')
INSERT [dbo].[SubSectionTypes] ([Id], [Name]) VALUES (N'Week', N'Week')
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CommonCoreStandards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommonCoreStandards_dbo.GradeLevels_GradeLevelId] FOREIGN KEY([GradeLevelId])
REFERENCES [dbo].[GradeLevels] ([Id])
GO
ALTER TABLE [dbo].[CommonCoreStandards] CHECK CONSTRAINT [FK_dbo.CommonCoreStandards_dbo.GradeLevels_GradeLevelId]
GO
ALTER TABLE [dbo].[SectionGuidingQuestions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionGuidingQuestions_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionGuidingQuestions] CHECK CONSTRAINT [FK_dbo.SectionGuidingQuestions_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[SectionHabits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionHabits_dbo.Habits_HabitId] FOREIGN KEY([HabitId])
REFERENCES [dbo].[Habits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionHabits] CHECK CONSTRAINT [FK_dbo.SectionHabits_dbo.Habits_HabitId]
GO
ALTER TABLE [dbo].[SectionHabits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionHabits_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionHabits] CHECK CONSTRAINT [FK_dbo.SectionHabits_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[SectionOtherBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionOtherBigIdeas_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionOtherBigIdeas] CHECK CONSTRAINT [FK_dbo.SectionOtherBigIdeas_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sections_dbo.GradeLevels_GradeLevelId] FOREIGN KEY([GradeLevelId])
REFERENCES [dbo].[GradeLevels] ([Id])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_dbo.Sections_dbo.GradeLevels_GradeLevelId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sections_dbo.SectionTypes_SectionTypeId] FOREIGN KEY([SectionTypeId])
REFERENCES [dbo].[SectionTypes] ([Id])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_dbo.Sections_dbo.SectionTypes_SectionTypeId]
GO
ALTER TABLE [dbo].[SectionScienceBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionScienceBigIdeas_dbo.ScienceBigIdeas_BigIdeaForScienceId] FOREIGN KEY([BigIdeaForScienceId])
REFERENCES [dbo].[ScienceBigIdeas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionScienceBigIdeas] CHECK CONSTRAINT [FK_dbo.SectionScienceBigIdeas_dbo.ScienceBigIdeas_BigIdeaForScienceId]
GO
ALTER TABLE [dbo].[SectionScienceBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionScienceBigIdeas_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionScienceBigIdeas] CHECK CONSTRAINT [FK_dbo.SectionScienceBigIdeas_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[SectionSocialStudiesBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionSocialStudiesBigIdeas_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionSocialStudiesBigIdeas] CHECK CONSTRAINT [FK_dbo.SectionSocialStudiesBigIdeas_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[SectionSocialStudiesBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SectionSocialStudiesBigIdeas_dbo.SocialStudiesBigIdeas_BigIdeaForSocialStudiesId] FOREIGN KEY([BigIdeaForSocialStudiesId])
REFERENCES [dbo].[SocialStudiesBigIdeas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SectionSocialStudiesBigIdeas] CHECK CONSTRAINT [FK_dbo.SectionSocialStudiesBigIdeas_dbo.SocialStudiesBigIdeas_BigIdeaForSocialStudiesId]
GO
ALTER TABLE [dbo].[SubSectionAssessments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionAssessments_dbo.SubSectionStas_SubSectionStaId] FOREIGN KEY([SubSectionStaId])
REFERENCES [dbo].[SubSectionStas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionAssessments] CHECK CONSTRAINT [FK_dbo.SubSectionAssessments_dbo.SubSectionStas_SubSectionStaId]
GO
ALTER TABLE [dbo].[SubSectionExperts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionExperts_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionExperts] CHECK CONSTRAINT [FK_dbo.SubSectionExperts_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSectionFieldworks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionFieldworks_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionFieldworks] CHECK CONSTRAINT [FK_dbo.SubSectionFieldworks_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSectionGuidingQuestions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionGuidingQuestions_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionGuidingQuestions] CHECK CONSTRAINT [FK_dbo.SubSectionGuidingQuestions_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSectionHabits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionHabits_dbo.Habits_HabitId] FOREIGN KEY([HabitId])
REFERENCES [dbo].[Habits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionHabits] CHECK CONSTRAINT [FK_dbo.SubSectionHabits_dbo.Habits_HabitId]
GO
ALTER TABLE [dbo].[SubSectionHabits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionHabits_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionHabits] CHECK CONSTRAINT [FK_dbo.SubSectionHabits_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSectionLongTermTargets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionLongTermTargets_dbo.SubSectionStas_SubSectionStaId] FOREIGN KEY([SubSectionStaId])
REFERENCES [dbo].[SubSectionStas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionLongTermTargets] CHECK CONSTRAINT [FK_dbo.SubSectionLongTermTargets_dbo.SubSectionStas_SubSectionStaId]
GO
ALTER TABLE [dbo].[SubSectionOtherBigIdeas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionOtherBigIdeas_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionOtherBigIdeas] CHECK CONSTRAINT [FK_dbo.SubSectionOtherBigIdeas_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSections_dbo.Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSections] CHECK CONSTRAINT [FK_dbo.SubSections_dbo.Sections_SectionId]
GO
ALTER TABLE [dbo].[SubSections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSections_dbo.SubSectionTypes_SubSectionTypeId] FOREIGN KEY([SubSectionTypeId])
REFERENCES [dbo].[SubSectionTypes] ([Id])
GO
ALTER TABLE [dbo].[SubSections] CHECK CONSTRAINT [FK_dbo.SubSections_dbo.SubSectionTypes_SubSectionTypeId]
GO
ALTER TABLE [dbo].[SubSectionServiceLearnings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionServiceLearnings_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionServiceLearnings] CHECK CONSTRAINT [FK_dbo.SubSectionServiceLearnings_dbo.SubSections_SubSectionId]
GO
ALTER TABLE [dbo].[SubSectionShortTermTargets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionShortTermTargets_dbo.SubSectionStas_SubSectionStaId] FOREIGN KEY([SubSectionStaId])
REFERENCES [dbo].[SubSectionStas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionShortTermTargets] CHECK CONSTRAINT [FK_dbo.SubSectionShortTermTargets_dbo.SubSectionStas_SubSectionStaId]
GO
ALTER TABLE [dbo].[SubSectionStandards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionStandards_dbo.CommonCoreStandards_CommonCoreStandardId] FOREIGN KEY([CommonCoreStandardId])
REFERENCES [dbo].[CommonCoreStandards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionStandards] CHECK CONSTRAINT [FK_dbo.SubSectionStandards_dbo.CommonCoreStandards_CommonCoreStandardId]
GO
ALTER TABLE [dbo].[SubSectionStandards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionStandards_dbo.SubSectionStas_SubSectionStaId] FOREIGN KEY([SubSectionStaId])
REFERENCES [dbo].[SubSectionStas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionStandards] CHECK CONSTRAINT [FK_dbo.SubSectionStandards_dbo.SubSectionStas_SubSectionStaId]
GO
ALTER TABLE [dbo].[SubSectionStas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubSectionStas_dbo.SubSections_SubSectionId] FOREIGN KEY([SubSectionId])
REFERENCES [dbo].[SubSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectionStas] CHECK CONSTRAINT [FK_dbo.SubSectionStas_dbo.SubSections_SubSectionId]
GO
