@using Mapper21.UI.Models
@model Mapper21.BE.Domain.Section

@{
    ViewBag.Title = "Guiding Questions";
    ViewBag.SectionId = Model.Id;
}

<script src="~/Scripts/Mapper21.js"> </script>

<div class="form-horizontal">
    <div class="well">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div id="guidingQuestions">
            @Html.Partial("~/Views/Section/Partials/_GuidingQuestion.cshtml", new GuidingQuestionViewModel { SectionId = Model.Id })
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}