@{
    var overview = ViewContext.RouteData.Values["action"].ToString() == "Overview" ? "active" : "";
    var guidingQuestions = ViewContext.RouteData.Values["action"].ToString() == "GuidingQuestions" ? "active" : "";
    var subSections = (ViewContext.RouteData.Values["action"].ToString() == "SubSection") ||
                      (ViewContext.RouteData.Values["action"].ToString() == "CreateSubSection" ||
                      ViewContext.RouteData.Values["action"].ToString() == "EditSubSection") ? "active" : "";

    var sectionType = ViewContext.RouteData.Values["currentSectionType"].ToString();
}

<section class="content-header">
    <ul class="nav nav-pills">
        <li class="@overview"><a href="~/Section/Overview/@sectionType">Overview</a></li>
        <li class="@guidingQuestions"><a href="~/Section/GuidingQuestions/@sectionType">Guiding Questions</a></li>
        <li class="@subSections"><a href="~/Section/SubSection/@sectionType">Weeks</a></li>
    </ul>
</section>
