
@{
    ViewBag.Title = "Unavailable";
}

<h2>The Resource is Unavailable</h2>

<p>Unfortunately this is only a prototype and therefore a lot of the content areas have not yet been fully developed.</p>

<p><a href="/Home">Return to My Curriculum</a></p>

<p><a href="/
      /Edit/1">Go to the fall expedition</a></p>

<p><a href="/Browse">Browse other Curriculum Maps</a></p>